/* General */
body {
	font-family: 'Jua', sans-serif;
	background-image: url('img/img_back_1.jpg');
	background-repeat: repeat;
	color: #35465d;
	height: 100%;
}

/* Container */
.container {
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
}


.file-upload {
	width: 38%; /* 두 섹션이 나란히 정렬되도록 너비를 각각 절반으로 설정 */
	padding: 5%;
	border-radius: 10px;
	border: solid 2px #0f0c29;
	background-image: url('img/img_back_1.jpg');
	background-repeat: repeat;
	opacity: 0.8;
}

/* Image upload wrap */
.image-upload-wrap {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    border: dashed 1.5px #35465d;
    background-image: url(img/img_back_1.jpg);
    background-repeat: repeat;
    padding: 10%;
    box-sizing: border-box;
    overflow: hidden;
}

/* Drag-and-drop or click to upload */
.image-dropping,
.image-upload-wrap:hover {
	border: 4px dashed black;
	opacity: 1;
}

/* Inner image container */
.file-upload-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 이미지 비율 유지하면서 박스에 맞춤 */
    border-radius: 10px;
    margin: 0 auto; /* 이미지 중앙 정렬 */
}

/* Upload drag text */
.drag-text {
	text-align: center;
	font-size: 1.2rem;
}

/* Text and Button */
.result-message {
	font-size: 1.5rem;
	color: #283c86;
}

.try-again-btn {
	border-radius: 40px;
	border: solid 1.5px #35465d;
	background-color: #35465d;
	margin-top: 10px;
	padding: 8px 16px;
	color: #ffffff;
	cursor: pointer;
}

.title, .subtitle {
	text-align: center;
	color: #35465d;
	margin-top: 20px;
}

/* Footer */
.footer {
	margin-top: 40px;
	background-color: initial;
	color: initial;
	text-align: center;
}
